.body{
    background-color: rgb(0, 18, 0, 0.3);
    background-size: cover;
    background-position: center;
    height: 30vh;
    background-attachment: fixed;
    align-content: center;
    
}
h1{
    color: #fff;
    font-size: 50px;
    margin: 0 0;
    padding: 10px 0;
    
}
.p{
    color: #fff;
    margin: 15px 0;
}

.line{
    background-color: #fff;
    margin: 40px 45%;
    height: 2px;
    width: 10%;
}
